<!Doctype html>
<html>
    <head>
        <title>Error Page</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="/img/weather.png" />
    </head>
    <body>
        <div>
            {{>header}}
            <p id="err">Sorry!..We cannot find the requested page.</p>
            
        </div>
        {{>footer}}
    </body>
</html>